@import '_all.scss';

.dark-mode{
    color: $white;
    background-color: $black;
}
.darkmode-badge {
    margin: 40px auto;
    display: block;
}

.quize-form {
    width: 90%;
    max-width: 700px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $shadow;
    margin: 60px auto;
    padding: 32px 24px 40px;
}
.form-head {
    text-align: center;
    color: $black;
    margin-top: 24px;
    p {
        margin-top: 12px;
        font-size: 14px;
    }
}
.input-box {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    input {
        width: 100%;
        padding: 12px 20px 10px;
        border-radius: 20px;
        border: 1px solid $gray3;
    }
    .error {
        font-size: 12px;
        color: $red;
        font-weight: 700;
        margin: 4px 0px 0px 20px;
        height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: height 0.3s;
    }
    .error-show {
        visibility: visible;
        height: 20px;
    }
    .correct {
        color: $blue;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: height 0.3s;
    }
    .correct-show {
        visibility: visible;
        margin: 28px auto 0px;
        height: 40px;
    }
    .quize-answer-submit {
        margin-top: 32px;
    }
}
