@import '_all.scss';



.admin-btn {
    padding: 20px 44px 16px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin: 60px auto;
    border: 1px solid dodgerblue;
    border-radius: 50px;
    display: block;
    cursor: pointer;
}
.admin-btn:hover {
    background-color: #fff;
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.grey {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto;
    height: 700px;

    .image {
        float: right;
        margin-right: 80px;
        width: 400px;
        position: sticky;
        top: 100px;
    }
    .text-box {
        float: left;

    }
    .text {
        margin-left: 60px;
        width: 400px;
        margin-top: 20px;
    }
}

