* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: url("../img/main/favicon.png") 20 30, auto;
}

.homework-main-title {
  text-align: center;
  padding-top: 80px;
}

.homework-main-title h4 {
  margin-top: 20px;
  -webkit-animation-name: title-description;
          animation-name: title-description;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

@-webkit-keyframes title-description {
  0% {
    -webkit-transform: translateX(4000px);
            transform: translateX(4000px);
  }
  80% {
    -webkit-transform: translateX(-10px) skew(-20deg);
            transform: translateX(-10px) skew(-20deg);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes title-description {
  0% {
    -webkit-transform: translateX(4000px);
            transform: translateX(4000px);
  }
  80% {
    -webkit-transform: translateX(-10px) skew(-20deg);
            transform: translateX(-10px) skew(-20deg);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.memo-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 700px;
  padding: 20px 32px 40px 32px;
  margin: 32px auto 100px;
  border-radius: 10px;
}

.memo-container h5 {
  color: #4498F2;
  margin-bottom: 8px;
}

.memo-date {
  font-size: 12px;
  color: #999;
  margin-left: 8px;
  font-weight: 400;
}

.memo-text {
  margin-top: 16px;
  line-height: 24px;
}

.memo-line {
  width: 90%;
  max-width: 700px;
  margin: 60px auto 0px;
  opacity: 50%;
}

.main-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 16px 20px 16px 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.main-btn:hover {
  background-color: #000;
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-btn:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.admin-btn {
  padding: 20px 44px 16px;
  background-color: dodgerblue;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin: 60px auto;
  border: 1px solid dodgerblue;
  border-radius: 50px;
  display: block;
  cursor: pointer;
}

.admin-btn:hover {
  background-color: #fff;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.grey {
  width: 90%;
  max-width: 1000px;
  margin: 100px auto;
  height: 700px;
}

.grey .image {
  float: right;
  margin-right: 80px;
  width: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.grey .text-box {
  float: left;
}

.grey .text {
  margin-left: 60px;
  width: 400px;
  margin-top: 20px;
}
/*# sourceMappingURL=hw12.css.map */